.input-group {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #ECEBEF;
    border-radius: var(--border-radius-small);
    margin-top: 24px;

    &:has(.input-field:focus) {
        outline: 2px solid #000;
        border: 1px solid #000;
    }

    .input-prefix {
        padding: 0 5px 0 15px;
        font-size: 22px;
        color: #B0B0B0;
    }

    .input-field {
        flex: 1 1 auto;

        &:is(input) {
            width: 100%;
            border: none;
            font-size: 22px;
            font-weight: 700;

            &:focus-visible {
                outline: none;
                border: none;
            }
        }

        &:is(button) {
            flex: 1 0 auto;
            font-size: 16px;
            font-weight: 700;
        }

        &:not(:last-child){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}