.card {
    background: #fff;
    border-radius: var(--border-radius-med);
    text-align: left;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.16);
}

.card-inner{
    padding: 26px 26px 32px;
}

.progress-indicator {
    height: 10px;
    width: 100%;
    background-color: var(--primary-variant);
}

.progress-amount {
    display: block;
    background-color: var(--primary-color);
    height: 100%;
}